{{#each usingDirectives}}
using {{this}};
{{/each}}

namespace {{namespace}}
{
    [Serializable]
    public partial class {{className}}
    {
    {{#each fields}}
        [field: SerializeField] public {{type}} {{name}} { get; private set; }
    {{/each}}
    }
}